<mat-card class="data">
  <mat-card-actions class="header">
    <mat-card-title> Family Feud - Ognisko Złomowisko v1.0 </mat-card-title>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="onSaveChanges()">
      Zapisz (localStorage)
      <mat-icon> save </mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onGeneratePPTX()">
      PPTX
      <mat-icon> file_download </mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onGeneratePDF()">
      PDF
      <mat-icon> file_download </mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <div *ngIf="data.easy" class="entry-container">
      <app-entry [data]="data.easy"></app-entry>
    </div>
    <div *ngIf="data.medium" class="entry-container">
      <app-entry [data]="data.medium"></app-entry>
    </div>
    <div *ngIf="data.hard" class="entry-container">
      <app-entry [data]="data.hard"></app-entry>
    </div>
    <div *ngIf="data.veryHard" class="entry-container">
      <app-entry [data]="data.veryHard"></app-entry>
    </div>
    <div *ngIf="data.frenzy" class="entry-container">
      <app-entry [data]="data.frenzy"></app-entry>
    </div>
  </mat-card-content>
</mat-card>

<!-- <mat-card>
  <mat-card *ngFor="let item of data">
    <div>{{ item.question }}</div>
    <div>{{ item.answer }}</div>
    <div>{{ item.type }}</div>
    <div>{{ item.partialPoints }}</div>
    <div>{{ item.maxPoints }}</div>
  </mat-card>
</mat-card> -->
