<mat-card class="data">
  <mat-card-actions class="header">
    <mat-card-title> Family Feud - Ognisko Złomowisko v1.0 </mat-card-title>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="onSaveChanges()">
      Zapisz (localStorage)
      <mat-icon> save </mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onGeneratePPTXAndPDF()">
      Pobierz PPTX
      <mat-icon> file_download </mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <ng-container *ngIf="data.easy">
      <mat-card
        [class]="'entry' + ' ' + item.type.toLowerCase()"
        *ngFor="let item of data.easy; let i = index"
      >
        <mat-form-field class="form-field">
          <label> <b> Pytanie </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.question"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Odpowiedz </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.answer"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Typ </b> </label>
          <mat-select [(ngModel)]="item.type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty cześciowe </b> </label>
          <input matInput [(ngModel)]="item.partialPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty MAX </b> </label>
          <input matInput [(ngModel)]="item.maxPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label><b>Hash</b></label>
          <input matInput [(ngModel)]="item.hash" [disabled]="true" />
        </mat-form-field>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="data.medium">
      <mat-card
        [class]="'entry' + ' ' + item.type.toLowerCase()"
        *ngFor="let item of data.medium; let i = index"
      >
        <mat-form-field class="form-field">
          <label> <b> Pytanie </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.question"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Odpowiedz </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.answer"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Typ </b> </label>
          <mat-select [(ngModel)]="item.type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty cześciowe </b> </label>
          <input matInput [(ngModel)]="item.partialPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty MAX </b> </label>
          <input matInput [(ngModel)]="item.maxPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label><b>Hash</b></label>
          <input matInput [(ngModel)]="item.hash" [disabled]="true" />
        </mat-form-field>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="data.hard">
      <mat-card
        [class]="'entry' + ' ' + item.type.toLowerCase()"
        *ngFor="let item of data.hard; let i = index"
      >
        <mat-form-field class="form-field">
          <label> <b> Pytanie </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.question"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Odpowiedz </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.answer"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Typ </b> </label>
          <mat-select [(ngModel)]="item.type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty cześciowe </b> </label>
          <input matInput [(ngModel)]="item.partialPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty MAX </b> </label>
          <input matInput [(ngModel)]="item.maxPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label><b>Hash</b></label>
          <input matInput [(ngModel)]="item.hash" [disabled]="true" />
        </mat-form-field>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="data.veryHard">
      <mat-card
        [class]="'entry' + ' ' + item.type.toLowerCase()"
        *ngFor="let item of data.veryHard; let i = index"
      >
        <mat-form-field class="form-field">
          <label> <b> Pytanie </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.question"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Odpowiedz </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.answer"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Typ </b> </label>
          <mat-select [(ngModel)]="item.type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty cześciowe </b> </label>
          <input matInput [(ngModel)]="item.partialPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty MAX </b> </label>
          <input matInput [(ngModel)]="item.maxPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label><b>Hash</b></label>
          <input matInput [(ngModel)]="item.hash" [disabled]="true" />
        </mat-form-field>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="data.frenzy">
      <mat-card
        [class]="'entry' + ' ' + item.type.toLowerCase()"
        *ngFor="let item of data.frenzy; let i = index"
      >
        <mat-form-field class="form-field">
          <label> <b> Pytanie </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.question"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Odpowiedz </b> </label>
          <textarea
            matInput
            [(ngModel)]="item.answer"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Typ </b> </label>
          <mat-select [(ngModel)]="item.type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty cześciowe </b> </label>
          <input matInput [(ngModel)]="item.partialPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label> <b> Punkty MAX </b> </label>
          <input matInput [(ngModel)]="item.maxPoints" type="number" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <label><b>Hash</b></label>
          <input matInput [(ngModel)]="item.hash" [disabled]="true" />
        </mat-form-field>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- <mat-card>
  <mat-card *ngFor="let item of data">
    <div>{{ item.question }}</div>
    <div>{{ item.answer }}</div>
    <div>{{ item.type }}</div>
    <div>{{ item.partialPoints }}</div>
    <div>{{ item.maxPoints }}</div>
  </mat-card>
</mat-card> -->
